@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: steelblue;
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 20px;
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.477);
}

.div1 {
    margin-bottom: 20px;
}

h1 {
    margin: 10px;
    text-align: center;
    color: white;
}

h2 {
    font: normal 15px arial;
}

.ajuste {
    padding-bottom: 20px;
}

p {
    margin: 10px;
    text-align: center;
    font-style: italic;
    color: white;
}

input[type=button] {
    padding: 0px 5px;
}

textarea {
    resize: none;
    text-align: center;
    overflow-y: auto;
}